[Unit]
Description=serf-agent-discovery@%i.service
BindsTo=serf-agent@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /cleawing/services/serf-agents/%i ${COREOS_PRIVATE_IPV4} --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /cleawing/services/serf-agents/%i

[X-Fleet]
X-ConditionMachineOf=serf-agent@%i.service